services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/docker/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
      - apps/backend/.env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/backend/node_modules
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/docker/Dockerfile
    ports:
      - "5173:5173"
    env_file:
      - .env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/frontend/node_modules
