.spinner {
  color: var(--color-accent-strong);
  animation: spinner-rotate 1.1s linear infinite;
}

.toneAccent {
  color: var(--color-accent-strong);
}

.toneNeutral {
  color: var(--color-text-strong);
}

.toneOnPrimary {
  color: var(--color-surface);
}

.sizeXs {
  width: 16px;
  height: 16px;
}

.sizeSm {
  width: 32px;
  height: 32px;
}

.sizeMd {
  width: 48px;
  height: 48px;
}

.sizeLg {
  width: 64px;
  height: 64px;
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
